* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

// HEADER
@import "header";

// INDEX
@import "index";

// ECOMMERCE
@import "ecommerce";

// CONTACT
@import "contacto";

// FOOTER
@import "footer";

@import "error404";

// PRELOADER
@import "preloader";